@page "/counter"
@using OpenAI
@using OpenAI.Chat
@rendermode InteractiveServer

<PageTitle>AI Chat</PageTitle>

<h1>AI Chat</h1>

<label>Question</label>
<textarea @bind="question"></textarea>

<p role="status">Response: @response</p>

<button class="btn btn-primary" @onclick="AskTheAI">Click me</button>

@code {
    private string response = "";
    private string question = "";

    private void AskTheAI()
    {
        ChatClient client = new ChatClient("gpt-4o-mini", Secrets.ApiKey);

        ChatCompletion completion = client.CompleteChat(
            ChatMessage.CreateSystemMessage("You are a High School Math teacher that is building a lesson plan for you students. You want to create a math plan for you Seniors to challenge them and prepare them for Standardized Tests"),
            ChatMessage.CreateUserMessage(this.question)
            );

        Console.WriteLine($"[ASSISTANT]: {completion.Content[0].Text}");
        response = completion.Content[0].Text;
    }

}